@model BadMom.Models.Shared.Error
@{
    ViewBag.Title = "Error";
}
<section style="background: url(../../Resources/code.jpg);background-color: violet; background-size: cover; background-position: center center" class="hero-wallet">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h1>Ошибка</h1>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row" style="margin-top: 30px;">
        <div class="text-center">
            @if (User.Identity.IsAuthenticated)
            {
                <h3>Уважаймый, @User.Identity.Name, во времмя выполнения данной операции произошла ошибка!</h3>
            }
            else
            {
                <h3>Во времмя выполнения данной операции произошла ошибка!</h3>
            }
        </div>

        <div class="text-center" style="margin-top: 30px; margin-bottom: 50px;">
          
            <h4>@Html.DisplayFor(model => model.ExDescription)</h4>
            
        </div>
        
    </div>
</div>

