@model BadMom.Models.Registration.UserPasswordData
@{
    ViewBag.Title = "ChangePassLink";
}


<div class="container">

    <div class="row" style="margin-bottom:20%;margin-top:20%;">
        <div class="col-12">
            <div class="text-center">
                <h2>Восстановление пароля</h2>
            </div>
            <br>
            <div class="text-center">

                <h4>Для смены пароля перейдите по ссылке в письме.</h4>

            </div>

        </div>
    </div>

</div>

