@using BadMom.Models.Registration
@model BadMom.Models.Registration.UserData
    
@{
    ViewBag.Title = "ConfirmAuth";
}





<div class="container">

    <h2>Поздравляем, @Model.Login, вы прошли авторизацию! Теперь вы можете войти на ресурс используя свой логин и пароль. </h2>

    <div class="container">
        <p style="color: red;">@ViewBag.WrongPassOrLog</p>
        <div class="row" style="margin-bottom:20%;margin-top:20%;">
            <div class="col-12">
                @Html.Partial("_Login", new UserLoginDataVM())
            </div>
        </div>

    </div>

</div>

