@using BadMom.Models.Registration
@{
    ViewBag.Title = "Login";
}

<div class="container">

    <p style="color: red;">@ViewBag.WrongPassOrLog</p>

        <div class="row" style="margin-bottom:20%;margin-top:20%;">
            <div class="col-12">
                @Html.Partial("_Login", new UserLoginDataVM())
            </div>
        </div>



</div>