@model BadMom.Models.Registration.UserData
@{
    ViewBag.Title = "RegistrationLink";
}
<div class="container">

    <div class="row" style="margin-bottom:20%;margin-top:20%;">
        <div class="col-12">
            <div class="text-center">
                <h2>Регистрация</h2>
            </div>

            <div class="text-center">

                <h4>Для регистрации на сайте перейдите по ссылке в письме.</h4>

                
            </div>

        </div>
    </div>

</div>
