@model System.Byte[]
@{
    ViewBag.Title = "Смена аватара";
    Layout = "~/Views/User/_MyProfileLayout.cshtml";
    ViewBag.menu = "setting";
}

<div class="container">

    <div class="row" style="margin-bottom:10%;margin-top:10%;">
        <div class="col-12">
            <div class="text-center" style="margin-bottom: 30px;">
                <h2>Смена аватара</h2>
            </div>

            <div class="">

                @using (Html.BeginForm("ChangeAvatar", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="form-group col-sm-6 offset-sm-3">
                            @if (Model != null && Model.Length != 0)
                            {
                                var base64 = Convert.ToBase64String(Model);
                                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                <img style="display:inline; max-width:200px; max-height:200px;" src="@imgSrc" id="avatar_preview" />

                            }
                            else
                            {<img style="display:inline; max-width:200px; max-height:200px;" src="http://via.placeholder.com/200x200" id="avatar_preview" />}
                            <label class="btn btn-secondary">
                                <input style="display:none;" type="file" name="fileUpload" accept="image/*" onchange="readURL(this);" />
                                Загрузить аватар
                            </label>


                        </div>

                        <div class="form-group col-sm-6 offset-sm-3">
                            <button type="submit" class="btn btn-secondary">Изменение</button>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>

</div>

@section scripts{

    @Scripts.Render("~/bundles/new")

}